<br>
<div class="row">
    <div class="col-md-2">
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <!-- <rzslider rz-slider-model="mc.slider.min"
                         rz-slider-high="mc.slider.max"
                         rz-slider-options="mc.slider.options"></rzslider>-->
                <price-range min="cc.slider.min" max="cc.slider.max" options="cc.slider.options"></price-range>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--input box-->

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--input box-->
            </div>
        </div>
        Filter part
    </div>
    <div class="col-md-10">
        <center><h2><i><font color="#00008b">Comics</font></i></h2></center>
        <total-details datas="cc.comics" ></total-details>
    </div>
</div>
<br>