<span class="text-center"><b>PRICE RANGE</b></span><br>
Min Price:{{prc.min}}<br>
Max price:{{prc.max}}
<br>
<rzslider rz-slider-model="prc.min"
          rz-slider-high="prc.max"
          rz-slider-options="prc.options">
</rzslider>
<br>
<br>
<span class="text-center"><b>SELECT THE BRAND</b></span><br>
<div ng-dropdown-multiselect="" options="prc.mobileBrands" class="btn btn-default-focus" selected-model="prc.model"
     extra-settings="prc.settings" checkboxes="prc.checkBoxes"
     ng-click="prc.filterBrands({checklist: prc.model})">
</div>
