<div class="row">
    <div class="col-sm-7">
        <zoom src="{{spc.productDetails.image}}" frame="example1" img="image1" zoomlvl="1.5" class="imageInProductViewPage"></zoom>
    </div>
    <div class="col-sm-5">
        <h2><i class="text-uppercase">{{spc.productDetails.name}}</i></h2>
        <h4>Price: {{spc.productDetails.price | currency : '&#8377;'}}</h4>

        <div ng-if="spc.productDetails.type == 'electronics'">
            <h4>RAM:{{spc.productDetails.RAM}}</h4>
            <h4>Color:{{spc.productDetails.color}}</h4>
            <h4>Battery:{{spc.productDetails.battery}}</h4>
            <h4>Model name:{{spc.productDetails.description}}</h4>
            <h4>Brand:{{spc.productDetails.brand}}</h4>
        </div>
        <div ng-if="spc.productDetails.type == 'books'">
            <h4>Author:{{spc.productDetails.Author}}</h4>
            <h4>Language:{{spc.productDetails.Features.Language}}</h4>
            <h4>ISBN: {{spc.productDetails.Features.ISBN}}</h4>
            <h4>Number of pages:{{spc.productDetails.Features.Pages}}</h4>
            <h4>Publication Year: {{spc.productDetails.Features.PublicationYear}}</h4>
        </div>
        <h5>Rating:{{spc.rating | number}}</h5>
        <ng-rate-it ng-model="spc.ratingProduct" read-only="true"></ng-rate-it>
        <h3>People comments and ratings given by them</h3>
        <div class="nav">
            <div ng-repeat="comment in spc.productDetails.comments | limitTo : spc.paginationLimit()">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.username }} <small><i>{{comment.commentedOn}}</i></small></h4>
                        <p>{{comment.text}}</p>
                    </div>
                </div>
            </div>
            <button class="show-more-btn btn btn-success" ng-show="spc.hasMoreItemsToShow()" ng-click="spc.showMoreItems()">Show more</button>
        </div>
    </div>
</div>