<div class="row">
    <div class="col-sm-6">
        <img src="{{spc.productDetails.image}}" class="imageInProductViewPage">
        <!--<button class="button button5">BUY NOW</button>
        <button class="button button5">ADD TO CART</button>-->
    </div>
    <div class="col-sm-6">
        <h1><i>{{spc.productDetails.name}}</i></h1>
        <h4>Price:{{spc.productDetails.price | currency : '&#8377;'}}</h4>

        <div ng-if="spc.productDetails.type == 'electronics'">
            <h4>RAM:{{spc.productDetails.RAM}}</h4>
            <h4>COLOR:{{spc.productDetails.color}}</h4>
            <h4>Battery:{{spc.productDetails.battery}}</h4>
            <h4>Model name:{{spc.productDetails.description}}</h4>
            <h4>Brand:{{spc.productDetails.brand}}</h4>
        </div>
        <div ng-if="spc.productDetails.type == 'books'">
            <h4>Author:{{spc.productDetails.Author}}</h4>
            <h4>Language:{{spc.productDetails.Features.Language}}</h4>
            <h4>Battery:{{spc.productDetails.Features.ISBN}}</h4>
            <h4>Model name:{{spc.productDetails.Features.Pages}}</h4>
            <h4>Brand:{{spc.productDetails.Features.ISBN}}</h4>
            <h4>Brand:{{spc.productDetails.Features.PublicationYear}}</h4>
        </div>
        <h5>Rating:{{spc.rating | number}}</h5>
        <ng-rate-it ng-model="spc.rating" read-only="true"></ng-rate-it>
        <h3>People comments and ratings given by them</h3>
        <div class="nav">

            <div ng-repeat="comment in spc.productDetails.comments | limitTo : spc.paginationLimit()">
                <div>
                    <p><b>{{comment.username}}</b>: {{comment.text}}</p>
                </div>
                <div>
                    <ng-rate-it ng-model="comment.rating" read-only="true"></ng-rate-it>
                </div>
                <div>
                    <p>commented on: {{comment.commentedOn}}</p>
                </div>
            </div>
            <button class="show-more-btn" ng-show="spc.hasMoreItemsToShow()" ng-click="spc.showMoreItems()">Show more</button>
        </div>
    </div>
</div>
<hr>

<!--
<button ng-click="spc.showMoreItems()"> test..</button>-->
