<br>
<div class="row">
    <div class="col-md-2">
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <filter-component min="fc.slider.min" max="fc.slider.max" options="fc.slider.options"></filter-component>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--input box-->

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--input box-->
            </div>
        </div>
        Filter part
    </div>
    <div class="col-md-10">
        <center><h2><i><font color="#00008b">Comics</font></i></h2></center>
        <total-details datas="fc.fictions" ></total-details>
    </div>
</div>
<br>