<br>
<br>
<h2 class="text-center text-primary"><i>Top Rated Products</i></h2>
<br>
<total-details datas="hc.topProducts" limit="5"></total-details>
<br>
//
<h2 class="text-center text-primary"><i>Buy latest mobiles & Get amazing Offers</i></h2>
<br>
<total-details datas="hc.topMobiles" limit="5"></total-details>

<br>
<h2 class="text-center text-primary"><i>In Laptops</i></h2>
<br>
<total-details datas="hc.topLaptops" limit="5"></total-details>
<br>
<h2 class="text-center text-primary"><i>In Comics</i></h2>
<br>

<total-details datas="hc.topComics" limit="5"></total-details>
<br>
<h2 class="text-center text-primary"><i>In Fictions</i></h2>
<br>

<total-details datas="hc.topFictions" limit="5"></total-details>
