<br>
<br>
<center><h2><i><font color="#00008b"> Top Rated Products</font></i></h2></center>
<br>
<total-details datas="jsonData" limit="5"></total-details>
<br>
<center><h2><i><font color="#00008b">Buy latest mobiles & Get amazing Offers</font></i></h2></center>
<br>

<total-details datas="hc.mobiles" limit="5"></total-details>

<br>
<center><h2><i><font color="#00008b">In Laptops</font></i></h2></center>
<br>
<total-details datas="hc.laptops" limit="5"></total-details>
<br>
<center><h2><i><font color="#00008b">In Comics</font></i></h2></center>
<br>

<total-details datas="hc.comics" limit="5"></total-details>
<br>
<center><h2><i><font color="#00008b">In Fictions</font></i></h2></center>
<br>

<total-details datas="hc.fictions" limit="5"></total-details>
