<br>
<div class="row">
    <div class="col-md-2">
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <price-range min="lc.slider.min" max="lc.slider.max" options="lc.slider.options"></price-range>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--input box-->

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--input box-->
            </div>
        </div>
        Filter part
    </div>
    <div class="col-md-10">
        <center><h2><i><font color="#00008b">Laptops</font></i></h2></center>
        <total-details datas="lc.laptops" ></total-details>
    </div>
</div>
<br>