<br>
<div class="row">
    <div class="col-md-2">
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <filter-component min="mc.slider.min" max="mc.slider.max" options="mc.slider.options"
                                  mobile-brands="mc.mobileBrands"
                                  settings="mc.settings" check-boxes="true"
                                  filter-brands="mc.getCheckedProducts(checklist)"></filter-component>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<div ng-dropdown-multiselect="" options="mc.mobileBrands" selected-model="mc.model"
                     extra-settings="mc.settings" checkboxes="true" ng-click="mc.getCheckedProducts(mc.model)"></div>
-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--input box-->
            </div>
        </div>
        <!--Filter part-->
    </div>
    <div class="col-md-10">
        <span class="text-center">
            <h2><i><font color="#00008b">Mobiles</font></i></h2></center>
        </span>
        <total-details datas="mc.mobiles" ></total-details>
    </div>
</div>
<br>