<div>
    <div class="row" ng-repeat="md in jsonData">
        <div class="col-sm-2" style="margin:32px;border:1px solid black">
        <label>Id:</label><label>{{md.id}}</label>
        <label>Name:</label><label>{{md.name}}</label>
        <label>Price:</label><label>{{md.price}}</label>
        </div>

    </div>
    </div>


    <!--{{mc.test}}///-->
    <!--<ui-select ng-model="sc.search" theme="bootstrap"  ng-change="sc.fetchData(search)">
        <ui-select-match>{{$select.selected.name }}</ui-select-match>
        <ui-select-choices ui-disable-choice="value.status == 'inactive'" repeat="data in jsonData | filter: $select.search">
            {{data.name }}
        </ui-select-choices>
    </ui-select>
-->

<!--
    <ui-select ng-model="selected.value">
        <ui-select-match>
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
            <span ng-bind="item.name"></span>
        </ui-select-choices>
    </ui-select>
</div>
-->
