<br><br>
<div class="row">
    <div class="col-sm-6">
        <img src="{{pc.productDetails.image}}" class="imageInProductViewPage">
        <!--<button class="button button5">BUY NOW</button>
        <button class="button button5">ADD TO CART</button>-->
    </div>
    <div class="col-sm-6">
        <h1><i>{{pc.productDetails.name}}</i></h1>
        <h4>Price:{{pc.productDetails.price | currency : '&#8377;'}}</h4>

        <div ng-if="pc.productDetails.type == 'electronics'">
            <h4>RAM:{{pc.productDetails.RAM}}</h4>
            <h4>COLOR:{{pc.productDetails.color}}</h4>
            <h4>Battery:{{pc.productDetails.battery}}</h4>
            <h4>Model name:{{pc.productDetails.description}}</h4>
            <h4>Brand:{{pc.productDetails.brand}}</h4>
        </div>
        <div ng-if="pc.productDetails.type == 'books'">
            <h4>Author:{{pc.productDetails.Author}}</h4>
            <h4>Language:{{pc.productDetails.Features.Language}}</h4>
            <h4>Battery:{{pc.productDetails.Features.ISBN}}</h4>
            <h4>Model name:{{pc.productDetails.Features.Pages}}</h4>
            <h4>Brand:{{pc.productDetails.Features.ISBN}}</h4>
            <h4>Brand:{{pc.productDetails.Features.PublicationYear}}</h4>
        </div>
        <h5>Rating:{{pc.rating | number}}</h5>
        <ng-rate-it ng-model="pc.rating" read-only="pc.readOnly"></ng-rate-it>
        <h3>People comments and ratings given by them</h3>

        <div ng-repeat="comment in pc.productDetails.comments">
            <p><b>{{comment.username}}</b>: {{comment.text}}</p>
            <ng-rate-it ng-model="comment.rating" read-only="true"></ng-rate-it>
            <p>commented on: {{comment.commentedOn}}</p>
            <hr>
        </div>
    </div>
</div>
<hr>
<center><h2><i><font color="#00008b">PRODUCTS SIMILAR TO THE ABOVE {{pc.productDetails.subType | uppercase}}</font></i>
</h2></center>
<br>

<similar-products similar="pc.similarProducts" current-page='pc.currentPage' page-size='pc.pageSize'
                  number-of-pages="pc.similarProducts.length/pc.pageSize"></similar-products>
