<br><br><br>
<span style="text-align: center"><h1>Confirm Password Here</h1></span>

<form name="myForm">
    <div class="form-group">
    Password: <input ng-model="rsc.user.password" type="password" name="password" />
    Confirm: <input ng-model="rsc.user.passwordConfirm" type="password" data-match="rsc.user.password" name="confirmPassword" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" />
    <div data-ng-show="myForm.confirmPassword.$error.match" style="color: red">Passwords do not match!</div>
        </div>
</form>
<button class="btn btn-primary" type="button" ng-click="rsc.resetPassword()">OK</button>
<button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>

