<div class="row">
    <div ng-repeat="data in spc.similar | navigationFilter:spc.currentPage*spc.pageSize | limitTo: spc.pageSize" class="col-md-3" >
        <div class="col-md-7">
            <div class="circle">
                <a ui-sref="productDetails({id:data.id})">
                    <img src="{{data.image}}" class="image1">
                    <h5><i>{{data.name}}</i></h5>
                </a>
                <h4>Price:{{data.price | currency : '&#8377;'}}</h4>
                <ng-rate-it ng-model="data.ratingProduct" read-only="true"></ng-rate-it>
            </div>
        </div>
    </div>
</div>
<button class="fa fa-chevron-circle-left fa-2x pull-left"
        aria-hidden="true"
        ng-disabled="spc.currentPage == 0"
        ng-click="spc.currentPage=spc.currentPage-1">
</button>
<span ng-show="spc.numberOfPages > 0"></span>
<button class="fa fa-chevron-circle-right fa-2x pull-right"
        aria-hidden="true"
        ng-disabled="spc.currentPage >= spc.similar.length/spc.pageSize - 1"
        ng-click="spc.currentPage=spc.currentPage+1">
</button>
<!--
<i class="fa fa-chevron-circle-left fa-2x pull-left"
        aria-hidden="true"
        ng-class="{disabled :spc.currentPage == 0 }"
        ng-click="spc.currentPage=spc.currentPage-1">
</i>
<span ng-show="spc.numberOfPages > 0"></span>
<i class="fa fa-chevron-circle-right fa-2x pull-right"
        aria-hidden="true"
        ng-class="{disabled :spc.currentPage >= spc.similar.length/spc.pageSize - 1 }"
        ng-click="spc.currentPage=spc.currentPage+1">
</i>
-->
