<div>
    <h1 class="appHeader">
        <span><i>MyShoppingCart</i></span>
    </h1>
    <nav class="navbar navbar-inverse">

            <a ui-sref="home" class="dropbtn">Home</a>

            <div class="dropdown">
                <button class="dropbtn">Electronics</button>
                <div class="dropdown-content">
                    <a ui-sref="mobile">mobiles</a>
                    <a ui-sref="laptops">Laptops</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Books</button>
                <div class="dropdown-content">
                    <a ui-sref="comics">Comics</a>
                    <a ui-sref="fictions">Fictions</a>
                    <a href="#">Biographies</a>
                </div>
            </div>

        <button class="dropbtn" style="float: right" ng-click="h.openRegistrationModel()">Register</button>
        <button class="dropbtn" style="float: right">Login</button>
    </nav>
    <center>
    <!--<div ng-include="'partials/search.html'"></div>-->
        <search-include></search-include>
        {{h.tets}}

    </center>
</div>