<div>
    <h1 class="appHeader">
        <span><i>MyShoppingCart</i></span>
    </h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <a ui-sref="home" class="dropbtn">Home</a>

            <div class="dropdown">
                <button class="dropbtn">Electronics</button>
                <div class="dropdown-content">
                    <a ui-sref="mobile">mobiles</a>
                    <a href="#">Laptops</a>
                    <a href="#">PCs</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Books</button>
                <div class="dropdown-content">
                    <a href="#">Fiction</a>
                    <a href="#">Comic</a>
                    <a href="#">Biographies</a>
                </div>
            </div>
        </div>
    </nav>
    <center>
    <div ng-include="'partials/search.html'"></div>
    </center>
</div>